<header class="header">
  <h1>{{ shop.name }}</h1>

  <!-- Main menu -->
  <nav>
    <ul>
      {% for link in linklists.main-menu.links -%}
        <li>
          {{ link.title | link_to: link.url }}
        </li>
      {%- endfor %}
    </ul>
  </nav>

  {% if section.settings.show_search %}
    <form action="/search">
        <input type="search" name="q" >
        <button type="submit">Search</button>
    </form>
  {% endif %}
</header>

{% comment %} You can't use settings inside stylesheet {% endcomment %}
<style>
  .header {
    background-color: {{ section.settings.bg }};
  }
</style>

{% stylesheet %}
  .header {
    padding: 20px;
    background-color: {{ section.settings.bg }};
  }
{% endstylesheet %}

{%  javascript  %} 
 console.log('hey header');
{% endjavascript %}

{%  schema  %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_search",
        "label": "Show search form?",
        "default": true
      },
      {
        "type": "color",
        "id": "bg",
        "label": "Background color",
        "default": "#F9FAFB"
      }
    ]
  }
{% endschema %}
